* {
  padding: 0px;
  margin: 0px;
  border: none;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

@font-face {
  font-family: "SFProText-Light.ttf";
  src: url("font/SFProText-Light.ttf");
}

@font-face {
  font-family: "SFProText-Bold";
  src: url("font/SFProText-Bold.ttf");
}

.hed {
  .butt {


  height: 48px;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: right;


  .logo {
    margin: 3%;
    font-family: SFProText-Bold, sans-serif;
    font-weight: bolder;
    width: 50%;

  }

  .menu {
    margin: 4%;
    transition: 1s;

  }

  .menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: SFProText-Light, sans-serif;
    font-weight: lighter;

  }

  .menu a:hover {
    color: #4687ee;
  }

  .menu:hover {
    transform: scale(1.1);
  }
  }
}


main {
  width: 100%;

  .section1 {
    width: 100%;
    height: calc(100vh - 48px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfcfc;
    border-bottom: 15px solid white;

    .main-text {
      padding: 1%;
      display: flex;
      flex-direction: column;
      font-family: "SFProText-Bold.ttf", sans-serif;
    }


    .main-text p {
      font-size: 2em;
      line-height: 1.3;
      font-weight: bolder;

    }

    .text-down {
      margin-top: 2%;
    }

    .text-down p {
      font-size: 1em;
      font-weight: lighter;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.51);
    }

    .social {
      margin-top: 2%;
    }

    .social img {
      width: 35px;
      height: 35px;
    }

    .social img:hover {
      background-color: #ffc200;
      border-radius: 100%;

    }

    .tech {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10%;


      .main-tech {
        width: 20%;
        font-size: 1em;
        font-weight: bolder;
        font-family: SFProText-Bold, sans-serif;

      }


      .tech-img {
        width: 35px;
        height: 35px;
        margin: 3%;


      }
    }

    .main-photo {
      overflow: hidden;
      display: flex;
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
      animation: anim 10s infinite;
      border-radius: 100%;
      border: 3px solid black;
      width: 350px;
      height: 350px;
      margin-left: 5%;


    }

    @keyframes anim {
      0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
      }
      25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
      }
      50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
      }
      75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
      }
      100% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
      }
    }


    .main-photo img {
      width: 100%;
      box-shadow: 15px 15px 50px rgb(0, 0, 0);
      height: 100%;
      object-fit: cover;
    }
  }

  #section2 {
    background-color: #fdfcfc;
    height: 100vh;
    width: 100%;

    .main-sect2 {
      display: flex;
      justify-content: center;

      .text-top {
        font-size: 3em;
        font-weight: bolder;
        font-family: SFProText-Bold, sans-serif;
        margin: 3%;

      }
    }

    .block1 {
      display: flex;
      justify-content: center;
      flex-direction: row;

      .text1 {
        line-height: 1.2;
        margin: 3%;
        width: 25%;
        font-size: 1.2em;
        font-family: SFProText-Light, sans-serif;


      }
      .up-img {
        margin: 3%;
        width: 25%;
      }

      .up-img img {
        width: 300px;
        height: 200px;
      }

    }
    .block2 {
      display: flex;
      justify-content: center;
      flex-direction: row;



      .text2 {
        line-height: 1.2;
        width: 25%;
        margin: 3%;
        font-size: 1.2em;
        font-family: SFProText-Light, sans-serif;
      }

      .up-img1 {
        margin: 3%;
        width: 25%;

      }

      .up-img1 img {
        width: 300px;
        height: 200px;
      }
    }
  }
}


@media (max-width: 500px) {
  .hed {
    width: 30%;

  .butt {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
    justify-content: start;
    width: auto;
    margin: 5%;


    .logo {
      width: auto;
      cursor: pointer;
      background-color: #4687ee;
      padding: 15%;
    }


    .menu {
      display: none;
      margin: 15%;

    }

    .menu a {


    }
  }

  }
  .butt:hover .menu {
    display: block;

  }

}
